<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.providerapp">
    <permission
        android:name="DatabaseProvider._READ_PERMISSION"
        android:protectionLevel="normal" />

    <permission
        android:name="DatabaseProvider._WRITE_PERMISSION"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContentProvider">

        <provider
            android:name="com.example.providerapp.ProviderAPP"
            android:authorities="com.example.providerapp.ProviderAPP"
            android:exported="true"
            android:enabled="true"
            android:grantUriPermissions="true"
            />
    </application>


</manifest>